<div>
    <p>Bordered image</p>
    <img src="http://placehold.it/300/300" alt="" class="image--bordered" />
</div>

<div>
    <p>Captioned image</p>
    <img src="http://placehold.it/300/300" alt="" />
</div>

<div class="clearfix">
    <h2><img src="http://placehold.it/100/100" alt="" class="pull-left" /> Inline with heading</h2>
</div>

<div>
    <p>Gallery</p>
    <!--@@ Todo @@-->
</div>

<p class="clearfix">
    <img src="http://placehold.it/100/100" alt="" class="pull-left" /> Text wrap left - Lorem ipsum Exercitation ut quis qui ut dolore sunt ad officia dolore laborum nisi nostrud. Lorem ipsum Exercitation ullamco Ut sed Excepteur proident sit ad ullamco quis pariatur occaecat irure amet tempor consectetur veniam nostrud anim magna occaecat mollit veniam veniam.
</p>

<p class="clearfix">
    <img src="http://placehold.it/100/100" alt="" class="pull-right" /> Text wrap right - Lorem ipsum Velit do do nulla enim laborum dolore commodo esse Duis dolore sed qui ut dolore quis ex elit id qui Duis ex ullamco adipisicing est ex Duis officia veniam et amet.
</p>