<p>
    <a href="#">Basic Hyperlink</a>
</p>

<p>
    <a href="#">Hyperlink that may span multiple lines - Lorem ipsum Sunt culpa cillum occaecat exercitation mollit et aliqua adipisicing ut consectetur cupidatat et elit magna dolore aliquip mollit cupidatat sint.</a>
</p>

<p>
    <a href="mailto:" class="email">Email link</a>
</p>

<p>
    <a href="#" class="popup">Popup link</a>
</p>

<p>
    <a href="#" rel="external">Link to external site</a>
</p>

<p>File type links</p>

<ul>
    <li><a href="#" class="file-type--pdf">PDF</a></li>
    <li><a href="#" class="file-type--doc">Word</a></li>
    <li><a href="#" class="file-type--xls">Excel</a></li>
    <li><a href="#" class="file-type--ppt">Power Point</a></li>
    <li><a href="#" class="file-type--rtf">RTF</a></li>
</ul>