<ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3
        <ul>
            <li>Sub List item 1</li>
            <li>Sub List item 2</li>
            <li>Sub List item 3</li>
        </ul>
    </li>
    <li><a href="">Hyperlinked list item</a></li>
    <li>List item 4</li>
    <li>List item 5</li>
</ul>

<ol>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3
        <ol>
            <li>Sub List item 1</li>
            <li>Sub List item 2</li>
            <li>Sub List item 3</li>
        </ol>
    </li>
    <li><a href="">Hyperlinked list item</a></li>
    <li>List item 4</li>
    <li>List item 5</li>
</ol>