<!-- This is a catch-all file for anything that needs to be compiled but isn't necessarily included in a HTML file or fragment -->

<!-- HTML Head: Less Than IE9 -->
<!-- build:js dist:js/ie.min.js -->
    <!-- import:js bower:/respond/dest/respond.src.js -->
    <!-- import:js bower:/html5shiv/dist/html5shiv.js -->
<!-- endbuild -->

<!-- HTML Body: End -->

<!-- Server: JS REST -->
<!-- build:js dist:js/rest.min.js -->
    <!-- import:js bower:/lodash/lodash.js -->
    <!-- import:js bower:/underscore.string/dist/underscore.string.js -->
    <!-- import:js bower:/handlebars/handlebars.js -->
<!-- endbuild -->
